%h2 New Course Page

= form_tag courses_path do

  = label :course, :title, 'Title'
  = text_field :course, 'title'

  = label :course, :name, 'Name'
  = text_field :course, 'name'

  = label :course, :startDate, 'Date Started'
  = date_select :course, :startDate

  = label :course, :endDate, 'End Date'
  = date_select :course, :endDate

  = submit_tag 'Save Changes'
