%h2= "#{@course.title} - #{@course.name}"
%ul#details
  %li
    Start Date:
    = @course.startDate.strftime("%B %d, %Y")
  %li
    End Date:
    = @course.endDate.strftime("%B %d, %Y")
  %li
    Webpage:
    = @course.webpage

= link_to 'Delete course', course_path(@course.id), :method => :delete, :confirm => 'Are you sure?'
%h3 Assignments
%table{:id => "assignments", :border => "1"}
  %thead
    %tr
      %th Title
      %th Release Date
      %th Due Date
      %th Weight
  %tbody
    - @course.assessments.assignments.each do |assignment|
      %tr
        %td= assignment.name 
        %td= assignment.start_at
        %td= assignment.end_at
        %td= assignment.weight
= link_to 'Add Assessment', new_course_assignment_path(@course.id)
