<!DOCTYPE html>
<html>
<head>
  <title>Coursetracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap_and_overrides" %>
  <%= stylesheet_link_tag    "bootstrap_and_overrides" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div id="siteheader" class="row">
		<div class="span12">
		<h1> Coursetracker </h1>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		<%= yield %>
		</div>

		<div class="span6">
		    <%= render 'calendar/calendar' if student_signed_in? %>
		</div>
	</div>
	<%= link_to('Sign Out', destroy_student_session_path, :method => :delete) unless not student_signed_in?%>
</body>
</html>
